body{
    text-align: center;
}
map{
    width: 100%;
    height: 100%
}
.movie_head 
{ font-size: 20px; padding: 6px 22px; border-radius: 10px; margin-bottom: 15px; width: 100%; display: inline-block; } 
.movie_text span { color: #ff7700; }

.movie_head i 
{ float: right; } 
.env_li{
    margin-top: 13px;
}
.env_li h4{
    border-bottom: 1px solid white;
    padding: 8px;
}
.env_li img{
    border border-radius: 25px;
}
.env_li p{
    margin-top: 10px;
}